@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    padding: 15px;
    justify-content: flex-end;
    z-index: 100;
}

.navbar ul {
    display: flex;
}

.navbar::before {
    content: "";
    background-color: #2f2f2f;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 300;
}

.navbar ul li a {
    display: block;
    padding: 3px 52px;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    color: #f83038;
}

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f83038;
}

.homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2f2f2f;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 84% 100%);
}

.homepage img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.contentbxbx {
    position: relative;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.contentbxbx h2 {
    text-align: center;
    font-size: 80px;
}

.contentbxbx p {
    text-align: center;
    font-weight: 400;
}

.buttonbox {
    position: absolute;
    left: 39%;
}

.btn {
    display: inline-block;
    background: #2f2f2f;
    color: #fff;
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    transition: 0.25s;
}

.btn:hover {
    letter-spacing: 4px;
    color: #f83038;
}


/* SECTION2 */

.services {
    background: #2f2f2f;
    padding: 100px;
    text-align: center;
    color: #fff;
    width: 100%;
}

.services .heading {
    font-size: 50px;
    font-weight: 800;
}

.services .text {
    padding: 10px;
    font-weight: 300;
}

.services .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.services .container .servicebx {
    position: relative;
    background: #fff;
    width: 320px;
    height: 320px;
    border-radius: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .container .servicebx img {
    max-width: 100px;
}

.services .container .servicebx h2 {
    padding: 5px;
    color: #2f2f2f;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}


/* SECTION3 */

.team {
    position: relative;
    background: #fff;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.team .heading {
    font-size: 50px;
    font-weight: 500;
}

.team .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.team .container .contentbx {
    background: #2f2f2f;
    padding: 60px 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 40px;
    border-radius: 20px;
}

.team .container .contentbx img {
    max-width: 200px;
    margin: 20px;
    cursor: pointer;
    border-radius: 300px;
}

.team .container .contentbx h3 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #f83038;
}

.team .container .contentbx p {
    color: #fff;
    text-align: center;
    font-weight: 200;
    padding: 5px;
}


/* SECTION4 */

.clients {
    position: relative;
    background: #2f2f2f;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.clients .heading {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.clients .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.clients .container .contentbox {
    padding: 60px 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.clients .container .contentbox p {
    font-style: italic;
    color: #fff;
    font-weight: 200;
}

.clients .container .contentbox h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #f83038;
}


/* SECTION 5 */

.register {
    background-color: #fff;
    position: relative;
    padding: 100px;
    align-items: center;
}

.register h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.regisform {
    background-color: #fff;
}

.form .inputbx {
    margin-bottom: 40px;
}

.form .inputbx input {
    width: 50%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 300;
    color: #2f2f2f;
    border-bottom: 2px solid #2f2f2f;
}

.form .inputbx input::placeholder {
    color: #2f2f2f;
}

.form .inputbx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 300;
    color: #2f2f2f;
    border-bottom: 2px solid #2f2f2f;
    min-height: 150px;
}

.form .inputbx textarea::placeholder {
    color: #2f2f2f;
}

.form .inputbx input[type="submit"] {
    width: 150px;
    background: #2f2f2f;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}

.form .inputbx input:hover {
    color: #f83038;
}


/* FOOTER */

.footer {
    background: #2f2f2f;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer .text2 {
    color: #fff;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
}

.footer ul li a img {
    filter: invert(1);
    max-width: 20px;
}


/* RESPONSIVE */

@media (max-width:1150px) {
    .services .container {
        flex-direction: column;
    }
    .services .container .servicebx {
        margin-top: 10px;
    }
    .services .container {
        justify-content: center;
    }
    .team .container {
        justify-content: center;
    }
}

@media (max-width:819px) {
    .navbar {
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul li {
        font-size: 1.3rem;
    }
}

@media (max-width:380px) {
    .buttonbox {
        left: 40%;
    }
    .footer {
        padding: 15px 10px;
    }
}

@media (max-width:415px) {
    .navbar {
        width: 100vh;
    }
    .homepage {
        width: 100vh;
    }
    .services {
        width: 100vh;
    }
    .team {
        width: 100vh;
    }
    .clients {
        width: 100vh;
    }
    .register {
        width: 100vh;
    }
    .footer {
        width: 100vh;
    }
}
